<div class="header">
    <div class="chrome-tabs">
        <a href="/" class="chrome-tab home {% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/tracks" class="chrome-tab tracks {% if request.path == '/tracks' %}active{% endif %}">Tracks</a>
        <a href="/bikes" class="chrome-tab bikes disabled {% if request.path == '/bikes' %}active{% endif %}">Bikes</a>
        <a href="/rider" class="chrome-tab rider disabled {% if request.path == '/rider' %}active{% endif %}">Rider</a>
        <a href="/ranked" class="chrome-tab ranked disabled {% if request.path == '/ranked' %}active{% endif %}">Ranked</a>
        <a href="/championship" class="chrome-tab championship disabled {% if request.path == '/championship' %}active{% endif %}">Championship</a>
        <a href="/downloads" class="chrome-tab downloads {% if request.path == '/downloads' %}active{% endif %}">Downloads</a>
    </div>
</div>
