<nav class="chrome-tabs">
    <a href="/index.html" class="chrome-tab">Home</a>
    <a href="/racing/index.html" class="chrome-tab disabled">Racing</a>
    <a href="/ranked/index.html" class="chrome-tab disabled">Ranked</a>
    <a href="/rider/index.html" class="chrome-tab disabled">Rider</a>
    <a href="/bikes/index.html" class="chrome-tab disabled">Bikes</a>
    <a href="/tracks/index.html" class="chrome-tab">Tracks</a>
    <a href="/downloads/index.html" class="chrome-tab">Downloads</a>
</nav>
