<nav class="chrome-tabs">
    <div class="nav-links">
        <a href="/index.html" class="chrome-tab">Home</a>
        <a href="/racing/index.html" class="chrome-tab disabled">Racing</a>
        <a href="/ranked/index.html" class="chrome-tab disabled">Ranked</a>
        <a href="/rider/index.html" class="chrome-tab disabled">Rider</a>
        <a href="/bikes/index.html" class="chrome-tab disabled">Bikes</a>
        <a href="/tracks/index.html" class="chrome-tab">Tracks</a>
        <a href="/downloads/index.html" class="chrome-tab">Downloads</a>
    </div>
    <div class="nav-auth">
        <a href="/auth/login" class="chrome-tab login-btn">
            <svg class="login-icon" viewBox="0 0 24 24" width="18" height="18">
                <path fill="currentColor" d="M12 4a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z"/>
            </svg>
            Login
        </a>
    </div>
</nav>
